<!DOCTYPE html>
<html>

  {% include head.html %}

  <body>
    {% include google.html %}
    {% include header.html %}

    <div class="page-content">
      <div class="wrapper">
        {{ content }}
      </div>
    </div>

    {% include footer.html %}

    <script>
     if (renderMathInElement !== undefined) {
         renderMathInElement(document.body, {
             delimiters: [
                 {left: "$$", right: "$$", display: true},
                 {left: "\\[", right: "\\]", display: true},
                 {left: "$", right: "$", display: false},
                 {left: "\\(", right: "\\)", display: false}
             ]
         });
     }
    </script>
    
  </body>

</html>
